[project]
	description = Samsung Galaxy S4 (GT-I9500)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Varun Date (varund7726)
[access "refs/for/refs/*"]
	read = group user/Varun Date (varund7726)
	push = group user/Varun Date (varund7726)
	label-Code-Review = -2..+2 group user/Varun Date (varund7726)
	label-Verified = -1..+1 group user/Varun Date (varund7726)
	rebase = group user/Varun Date (varund7726)
	removeReviewer = group user/Varun Date (varund7726)
	submit = group user/Varun Date (varund7726)
[access "refs/heads/*"]
	read = group user/Varun Date (varund7726)
	create = group user/Varun Date (varund7726)
	push = +force group user/Varun Date (varund7726)
	pushMerge = group user/Varun Date (varund7726)
[access "refs/tags/*"]
	push = +force group user/Varun Date (varund7726)
	pushTag = group user/Varun Date (varund7726)
	pushSignedTag = group user/Varun Date (varund7726)
